* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  background-color: var(--Very-Light-Gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 3rem 1.5rem;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--Very-Dark-Blue);
}

.title span:first-child {
  font-weight: 200;
}

.text {
  margin-bottom: 4rem;
  font-weight: 200;
  color: var(--Grayish-Blue);
  font-size: 15px;
}

.card {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
  border-radius: 0.3rem;
  border-top: 3px solid red;
  padding: 1.5rem;
  text-align: left;
  background-color: #fff;
}

.cyan {
  border-top-color: var(--Cyan);
}

.red {
  border-top-color: var(--Red);
}

.orange {
  border-top-color: var(--Orange);
}

.blue {
  border-top-color: var(--Blue);
}

.card::after {
  content: "";
  display: table;
  clear: both;
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--Very-Dark-Blue);
}

.card__text {
  margin-bottom: 1.5rem;
  font-weight: 200;
  color: var(--Grayish-Blue);
  font-size: 15px;
}

.card > img {
  float: right;
  width: 20%;
}

.attribution {
  text-align: center;
  padding: 0.5rem 0;
}

@media (min-width: 1100px) {
  .content {
    max-width: 1000px;
  }

  .group__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
  }

  .group__card > * {
    flex: 1;
  }

  .group__card > .group__card {
    grid-template-columns: 1fr;
  }

  .card {
    margin-bottom: 0;
  }

  .title,
  .text {
    max-width: 350px;
    margin: 0 auto 1rem;
  }

  .text {
    margin-bottom: 4rem;
  }
}
